<div class="PageBanner TitleBar">
  <div class="Header">
    <div class="BackButton" [routerLink]="[ '/home']">
      <img src="assets/icons/back-icon.svg">
    </div>
    <div class="PageTitle"> Matches</div>
  </div>
</div>
<div class="AllMatches">
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>17 NOV, SUNDAY </p>
      </div>
      <div class="Teams">
        <h3>Thonikadav </h3>
        <h3>B Team </h3>
        <div class="ScoreCard">
          <span class="HomeGoal">2</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>17 NOV, SUNDAY </p>
      </div>
      <div class="Teams">
        <h3>Town Team </h3>
        <h3>Acrophobia </h3>
        <div class="ScoreCard">
          <span class="HomeGoal">0</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>17 NOV, SUNDAY </p>
      </div>
      <div class="Teams">
        <h3>Team OXY </h3>
        <h3>Limra FC</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">1</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>24 NOV, SUNDAY </p>
      </div>
      <div class="Teams">
        <h3>Acrophobia </h3>
        <h3>Thonikadav </h3>
        <div class="ScoreCard">
          <span class="HomeGoal">1</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>24 NOV, SUNDAY </p>
      </div>
      <div class="Teams ">
        <h3>Limra FC </h3>
        <h3>B Team </h3>
        <div class="ScoreCard">
          <span class="HomeGoal">0</span>
          <span class="AwayGoal">2</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="DateAndTime">
        <p>24 NOV, SUNDAY </p>
      </div>
      <div class="Teams">
        <h3>Town Team </h3>
        <h3>Team OXY</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">2</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>B Team </h3>
        <h3>Town Team </h3>
        <div class="ScoreCard">
          <span class="HomeGoal">3</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>01 DEC, SUNDAY </p>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Team OXY</h3>
        <h3>Acrophobia</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">0</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>01 DEC, SUNDAY </p>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Thonikadav</h3>
        <h3> Limra FC</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">4</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>01 DEC, SUNDAY </p>
      </div>
    </div>
  </div>





  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Town Team</h3>
        <h3> Limra FC</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">0</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>08 DEC, SUNDAY </p>
      </div>
    </div>
  </div>

  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Team OXY</h3>
        <h3> Thonikadav</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">1</span>
          <span class="AwayGoal">1</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>08 DEC, SUNDAY </p>
      </div>
    </div>
  </div>
  <div class="MatchBox Recent ">
    <div class="MatchContent">
      <div class="Teams">
        <h3>B Team</h3>
        <h3> Acrophobia</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">0</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>08 DEC, SUNDAY </p>
      </div>
    </div>
  </div>



  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Team OXY</h3>
        <h3> B Team</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">2</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>15 DEC, SUNDAY </p>
      </div>
    </div>
  </div>
  
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Limra</h3>
        <h3> Acrophobia</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">1</span>
          <span class="AwayGoal">0</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>15 DEC, SUNDAY </p>
      </div>
    </div>
  </div>

  
  <div class="MatchBox Recent">
    <div class="MatchContent">
      <div class="Teams">
        <h3>Thonikadav</h3>
        <h3> Town Team</h3>
        <div class="ScoreCard">
          <span class="HomeGoal">2</span>
          <span class="AwayGoal">2</span>
        </div>
      </div>
      <div class="DateAndTime">
        <p>15 DEC, SUNDAY </p>
      </div>
    </div>
  </div>

  

  <div class="MatchBox Recent">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Team OXY</h3>
          <h3> Limra FC</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">2</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
          <p> <span>22 DEC, SUNDAY </span></p>
        </div>
      </div>
    </div>
    
    <div class="MatchBox Recent">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Town Team</h3>
          <h3> Acrophobia</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">2</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p> <span>22 DEC, SUNDAY </span></p>
        </div>
      </div>
    </div>
  
    
    <div class="MatchBox Recent">
      <div class="MatchContent">
        <div class="Teams">
          <h3>B Team</h3>
          <h3> Thonikadav</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">2</span>
            <span class="AwayGoal">1</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p> <span>22 DEC, SUNDAY </span></p>
        </div>
      </div>
    </div>
    <div class="MatchWeekTitle">
      <h3>Upcoming Matches</h3>
     
  </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="DateAndTime">
            <p>05 JAN 2019, SUN</p>
        </div>
        <div class="Teams">
          <h3>Acrophobia </h3>
          <h3>Thonikadav </h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="DateAndTime">
            <p>05 JAN 2019, SUN</p>
        </div>
        <div class="Teams ">
          <h3>Limra FC </h3>
          <h3>B Team </h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="DateAndTime">
            <p>05 JAN 2019, SUN</p>
        </div>
        <div class="Teams">
          <h3>Town Team </h3>
          <h3>Team OXY</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>B Team </h3>
          <h3>Town Team </h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
          <p>12 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Team OXY</h3>
          <h3>Acrophobia</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>12 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Thonikadav</h3>
          <h3> Limra FC</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>12 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Team OXY</h3>
          <h3> Thonikadav</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>19 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Town Team</h3>
          <h3> Limra FC</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>19 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>B Team</h3>
          <h3> Acrophobia</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>19 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Limra</h3>
          <h3> Acrophobia</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>26 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Team OXY</h3>
          <h3> B Team</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>26 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    <div class="MatchBox ">
      <div class="MatchContent">
        <div class="Teams">
          <h3>Thonikadav</h3>
          <h3> Town Team</h3>
          <div class="ScoreCard">
            <span class="HomeGoal">0</span>
            <span class="AwayGoal">0</span>
          </div>
        </div>
        <div class="DateAndTime">
            <p>26 JAN 2020, SUN </p>
        </div>
      </div>
    </div>
    
  </div>