<div class="Header HomeHeader">
    <div class="Logo">
        <img src="assets/images/logo-white.svg">
    </div>
</div>

<div class="HomeContents">
  

                <div class="upcoming-matches-home">
                    <h3>Match Day</h3>
                    <span class="datefixture">17 NOV 2019(Sunday)</span>
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Thonikadav</p></div>
                      <div class="away-team"><p>B Team</p></div>
                      <div class="clear"></div>
                    </div>
  
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Town Team</p></div>
                      <div class="away-team"><p>Acrophobia</p></div>
                      <div class="clear"></div>
                    </div>
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Team OXY</p></div>
                      <div class="away-team"><p>Limra FC</p></div>
                      <div class="clear"></div>
                    </div>
                 
               
                    <br />
                  </div>
  
                  <div class="sponsors">
                    <img src="assets/images/sponsors.png" />
                  </div>
  
</div>