<div class="page-content home">
    <div class="banner">
      <img src="https://media.giphy.com/media/1yVJHj1B1YWw8/giphy.gif" />
      <div class="banner-text">
        <h1>Mangol Premier League</h1>
        <p>Season 3</p>
      </div>
    </div>
    <div class="point-table-main">
      <div class="table-caption"><h2>Point Table</h2></div>
      <div class="point-table-head gradient-1">
        <table>
          <tbody>
            <tr>
              <th>Rk</th>
              <th>Club</th>
              <th>Pl</th>
              <th>W</th>
              <th>D</th>
              <th>L</th>
              <th>GD</th>
              <th>Pts</th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="point-table">
        <table>
          <tbody>
            <tr>
              <td>1.</td>
              <td>
                <span class="point-table-logo">
                  <!-- <img src="images/teams/limra-sm.png"> --></span>
                  Acrophobia
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>
                  <span class="point-table-logo">
                    <!-- <img src="images/teams/limra-sm.png"> --></span>
                    B Team
                  </td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>
                      <span class="point-table-logo">
                        <!-- <img src="images/teams/limra-sm.png"> --></span>
                        Limra
                      </td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>
                          <span class="point-table-logo">
                            <!-- <img src="images/teams/limra-sm.png"> --></span>
                            Team OxY
                          </td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>
                              <span class="point-table-logo">
                                <!-- <img src="images/teams/limra-sm.png"> --></span>
                                Thonikadavu
                              </td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>
                                  <span class="point-table-logo">
                                    <!-- <img src="images/teams/limra-sm.png"> --></span>
                                    Town Team
                                  </td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="ComingSoonCard">
                  <h3>MANGOL<br>PREMIERE LEAGUE</h3>
                  <span class="datefixture">Season 3 Starts on</span>
                
                  <span  class="ComingSoon">November 17 2019</span> <br />
                  <!-- LikeBtn.com BEGIN -->
                 

                  <!-- LikeBtn.com END -->
                  <br />
                </div>

                <div class="sponsors">
                  <img src="assets/images/sponsors.png" />
                </div>
              </div>