<div class="Header HomeHeader">
    <div class="Logo">
        <img src="assets/images/logo-white.svg">
    </div>
</div>

<div class="HomeContents">
  
    <div class="point-table-main">
        <div class="table-caption"><h2>Point Table</h2></div>
        <div class="point-table-head gradient-1">
          <table>
            <tbody>
              <tr>
                <th>Rk</th>
                <th>Club</th>
                <th>Pl</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>Pts</th>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="point-table">
          <table>
            <tbody>
              <tr>
                <td>1.</td>
                <td>
                  <span class="point-table-logo">
                    <!-- <img src="images/teams/limra-sm.png"> --></span>
                    Acrophobia
                  </td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>
                    <span class="point-table-logo">
                      <!-- <img src="images/teams/limra-sm.png"> --></span>
                      B Team
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                      <td>3.</td>
                      <td>
                        <span class="point-table-logo">
                          <!-- <img src="images/teams/limra-sm.png"> --></span>
                          Limra
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                          <td>4.</td>
                          <td>
                            <span class="point-table-logo">
                              <!-- <img src="images/teams/limra-sm.png"> --></span>
                              Team OxY
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                          </tr>
                          <tr>
                              <td>5.</td>
                              <td>
                                <span class="point-table-logo">
                                  <!-- <img src="images/teams/limra-sm.png"> --></span>
                                  Thonikadavu
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                              </tr>
                              <tr>
                                  <td>6.</td>
                                  <td>
                                    <span class="point-table-logo">
                                      <!-- <img src="images/teams/limra-sm.png"> --></span>
                                      Town Team
                                    </td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                  </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                <div class="upcoming-matches-home">
                    <h3>Upcoming Matches</h3>
                    <span class="datefixture">17 NOV 2019(Sunday)</span>
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Thonikadav</p></div>
                      <div class="away-team"><p>B Team</p></div>
                      <div class="clear"></div>
                    </div>
  
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Town Team</p></div>
                      <div class="away-team"><p>Acrophobia</p></div>
                      <div class="clear"></div>
                    </div>
                    <div class="match-fixture-single ">
                      <div class="home-team"><p>Team OXY</p></div>
                      <div class="away-team"><p>Limra FC</p></div>
                      <div class="clear"></div>
                    </div>
                 
               
                    <br />
                  </div>
  
                  <div class="sponsors">
                    <img src="assets/images/sponsors.png" />
                  </div>
  
</div>