<div class="UpcomingWeek">
    <div class="MatchWeekTitle">
        <h3>Matchweek 3</h3>
        <span class="datefixture">SUNDAY, DEC 01 2019</span>
    </div>

        <div class="match-fixture-single ">
          <div class="home-team">
            <p>B Team</p>
            
          </div>
          <div class="away-team">
            
            <p>Town Team</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="match-fixture-single ">
          <div class="home-team">
            <p>Team OXY</p>
            
          </div>
          <div class="away-team">
            
            <p>Acrophobia</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="match-fixture-single ">
          <div class="home-team">
            <p>Limra FC</p>
            
          </div>
          <div class="away-team">
            
            <p>Thonikadav</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>