
:root {
  // ---------- 01. COMMON THEME ---------------
  // Colors Pallets
  --White: #FFFFFF;
  --Dark: #14111D;
  --Primary: #E82150;
}


.gradient-1 {
  background: rgba(199, 30, 97, 1);
  background: -moz-linear-gradient(45deg,
      rgba(199, 30, 97, 1) 0%,
      rgba(80, 37, 108, 1) 76%,
      rgba(80, 37, 108, 1) 100%);
  background: -webkit-gradient(left bottom,
      right top,
      color-stop(0%, rgba(199, 30, 97, 1)),
      color-stop(76%, rgba(80, 37, 108, 1)),
      color-stop(100%, rgba(80, 37, 108, 1)));
  background: -webkit-linear-gradient(45deg,
      rgba(199, 30, 97, 1) 0%,
      rgba(80, 37, 108, 1) 76%,
      rgba(80, 37, 108, 1) 100%);
  background: -o-linear-gradient(45deg,
      rgba(199, 30, 97, 1) 0%,
      rgba(80, 37, 108, 1) 76%,
      rgba(80, 37, 108, 1) 100%);
  background: -ms-linear-gradient(45deg,
      rgba(199, 30, 97, 1) 0%,
      rgba(80, 37, 108, 1) 76%,
      rgba(80, 37, 108, 1) 100%);
  background: linear-gradient(45deg,
      rgba(199, 30, 97, 1) 0%,
      rgba(80, 37, 108, 1) 76%,
      rgba(80, 37, 108, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71e61', endColorstr='#50256c', GradientType=1);
}

.gradient-2 {
  background: rgba(251, 196, 69, 1);
  background: -moz-linear-gradient(45deg,
      rgba(251, 196, 69, 1) 0%,
      rgba(243, 41, 89, 1) 76%,
      rgba(243, 41, 89, 1) 100%);
  background: -webkit-gradient(left bottom,
      right top,
      color-stop(0%, rgba(251, 196, 69, 1)),
      color-stop(76%, rgba(243, 41, 89, 1)),
      color-stop(100%, rgba(243, 41, 89, 1)));
  background: -webkit-linear-gradient(45deg,
      rgba(251, 196, 69, 1) 0%,
      rgba(243, 41, 89, 1) 76%,
      rgba(243, 41, 89, 1) 100%);
  background: -o-linear-gradient(45deg,
      rgba(251, 196, 69, 1) 0%,
      rgba(243, 41, 89, 1) 76%,
      rgba(243, 41, 89, 1) 100%);
  background: -ms-linear-gradient(45deg,
      rgba(251, 196, 69, 1) 0%,
      rgba(243, 41, 89, 1) 76%,
      rgba(243, 41, 89, 1) 100%);
  background: linear-gradient(45deg,
      rgba(251, 196, 69, 1) 0%,
      rgba(243, 41, 89, 1) 76%,
      rgba(243, 41, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc445', endColorstr='#f32959', GradientType=1);
}

.gradient-3 {
  background: rgba(20, 175, 206, 1);
  background: -moz-linear-gradient(45deg,
      rgba(20, 175, 206, 1) 0%,
      rgba(20, 15, 56, 1) 76%,
      rgba(20, 15, 56, 1) 100%);
  background: -webkit-gradient(left bottom,
      right top,
      color-stop(0%, rgba(20, 175, 206, 1)),
      color-stop(76%, rgba(20, 15, 56, 1)),
      color-stop(100%, rgba(20, 15, 56, 1)));
  background: -webkit-linear-gradient(45deg,
      rgba(20, 175, 206, 1) 0%,
      rgba(20, 15, 56, 1) 76%,
      rgba(20, 15, 56, 1) 100%);
  background: -o-linear-gradient(45deg,
      rgba(20, 175, 206, 1) 0%,
      rgba(20, 15, 56, 1) 76%,
      rgba(20, 15, 56, 1) 100%);
  background: -ms-linear-gradient(45deg,
      rgba(20, 175, 206, 1) 0%,
      rgba(20, 15, 56, 1) 76%,
      rgba(20, 15, 56, 1) 100%);
  background: linear-gradient(45deg,
      rgba(20, 175, 206, 1) 0%,
      rgba(20, 15, 56, 1) 76%,
      rgba(20, 15, 56, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14afce', endColorstr='#140f38', GradientType=1);
}


// COMPONENTS
body{
  background: var(--Dark);
}


  .HomeContents{
    background: var(--Dark);
  }


  .MatchBox:nth-child(1){
    background: rgb(232,33,94);
background: linear-gradient(90deg, rgba(232,33,94,1) 0%, rgba(220,4,163,0.38) 100%);
  }
  .MatchBox:nth-child(2){
    background: rgb(0,81,152);
    background: linear-gradient(90deg, rgba(0,81,152,1) 0%, rgba(156,235,182,0.31) 100%);
  }
  .MatchBox:nth-child(3){
    background: #be2581;
    background: linear-gradient(90deg, #be2581 0%, rgba(32, 242, 197, 0.77) 100%);

  }
  .MoreMathes{
    background: rgb(255,83,95);
background: linear-gradient(90deg, rgba(255,83,95,0.17) 0%, rgba(232,33,80,0.15) 100%);
  }
