



  .UpcomingMatches{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: -30px;
   
    .MatchBox{
      width: calc(100% - 16px);
      height: 102px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      display: block;
      margin: 0 auto;
      margin-bottom: 8px;
      &:before{
        position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      content: '';
      background:url(../../../../assets/images/theme/card-overlay.png);
      background-size: cover;
      background-position: center;
      z-index: 1;
      }
      .MatchContent{
        width: 100%;
        display: block;
        color: #fff;
        padding: 12px;
        .Teams{
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          padding: 10px 10px;
          h3{
            color: #fff;
            font-size: 16px;
            width: calc(50% - 20px);
            
          }
          h3:nth-child(2){
            text-align: right;
      
          }
         &:before{
          width: 14px;
          content: "vs";
          height: 14px;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 50px;
          color: #ffffff;
          font-size: 11px;
          padding: 7px;
          box-sizing: content-box;
          line-height: 13px;
          display: block;
          margin-left: 10px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
         }
        }
        .DateAndTime{
     
         display: flex;
         flex-flow: row wrap;
         margin-bottom: 10px;
         padding:2px 5px;
         justify-content: center;
         
            
         p{
          font-size: 11px;
          width: auto; }
          span{
            font-size: 12px;
            padding:0 5px;
            display: inline-block;
            font-weight: bold;
          }
        
        }
      }
    }

  
    .MatchBox:nth-child(1){
      background: rgb(232,33,94);
  background: linear-gradient(90deg, rgba(232,33,94,1) 0%, rgba(220,4,163,0.38) 100%);
    }
    .MatchBox:nth-child(2){
      background: rgb(0,81,152);
      background: linear-gradient(90deg, rgba(0,81,152,1) 0%, rgba(156,235,182,0.31) 100%);
    }
    .MatchBox:nth-child(3){
      background: rgb(255,83,95);
      background: linear-gradient(90deg, rgba(255,83,95,1) 0%, rgba(242,32,200,0.65) 100%);
    }
    .MoreMathes{
      background: rgb(255,83,95);
  background: linear-gradient(90deg, rgba(255,83,95,0.17) 0%, rgba(232,33,80,0.15) 100%);
    }
  
  
   
  }