
    <div class="Header TitleBar">
  
     <div class="PageTitle"> Matches</div>
    </div>
  
  <div class="HrScroller">
  
      <div class="UpcomingMatches">
        <div class="MatchBox">
          <div class="MatchContent">
              <div class="DateAndTime">
                  <p>24 NOV,SUN </p> <span>4:10PM</span>
                </div>
            <div class="Teams">
              <h3>Acrophobia </h3>
              <h3>Thonikadav </h3>
            </div>
         
          </div>
        </div>
        <div class="MatchBox">
            <div class="MatchContent">
                <div class="DateAndTime">
                    <p>24 NOV,SUN</p> <span>4:40PM</span>
                  </div>
              <div class="Teams">
                <h3>Limra FC </h3>
                <h3>B Team </h3>
              </div>
             
            </div>
          </div>
  
  
          <div class="MatchBox">
              <div class="MatchContent">
                  <div class="DateAndTime">
                      <p>24 NOV,SUN </p><span>5:30PM</span>
                    </div>
                <div class="Teams">
                  <h3>Town Team </h3>
                  <h3>Team OXY</h3>
                </div>
                
              </div>
            </div>
  
            
  
  
  
  
  
        <!-- <div class="MatchBox MoreMathes">
          <div class="Flex">
            View More
          </div>
        </div> -->
  
      </div>
    </div>

  
 