<div class="TitleBar HomeBanner">
    <div class="HomeHeader">
      <div class="Logo">
          <img src="assets/images/logo-white.svg">
      </div>
    </div>
  <div class="Subtitle">Upcoming Matches</div>
  <div class="HrScroller">
  
      <div class="UpcomingMatches">
        <div class="MatchBox">
          <div class="MatchContent">
            <div class="Teams">
              <h3>Acrophobia </h3>
              <h3>Thonikadav </h3>
            </div>
            <div class="DateAndTime">
              <p>24 NOV,SUN <span>4:10PM</span></p>
            </div>
          </div>
        </div>
        <div class="MatchBox">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Limra FC </h3>
                <h3>B Team </h3>
              </div>
              <div class="DateAndTime">
                <p>24 NOV,SUN <span>4:40PM</span></p>
              </div>
            </div>
          </div>
  
  
          <div class="MatchBox">
              <div class="MatchContent">
                <div class="Teams">
                  <h3>Town Team </h3>
                  <h3>Team OXY</h3>
                </div>
                <div class="DateAndTime">
                  <p>24 NOV,SUN <span>5:20PM</span></p>
                </div>
              </div>
            </div>
  
            
  
  
  
  
  
        <!-- <div class="MatchBox MoreMathes">
          <div class="Flex">
            View More
          </div>
        </div> -->
  
      </div>
    </div>
  </div>
  
 