<div class="point-table-main">
        <div class="table-caption"><h2>Point Table</h2></div>
        <div class="point-table-head gradient-1">
          <table>
            <tbody>
              <tr>
                <th>Rk</th>
                <th>Club</th>
                <th>Pl</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>Pts</th>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="point-table">
          <table>
            <tbody>
              <tr>
                <td>1.</td>
                <td>
                  <span class="point-table-logo">
                    <!-- <img src="images/teams/limra-sm.png"> --></span>
                    Acrophobia
                  </td>
                  <td>3</td>
                  <td>2</td>
                  <td>2</td>
                  <td>0</td>
                  <td>2</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>
                    <span class="point-table-logo">
                      <!-- <img src="images/teams/limra-sm.png"> --></span>
                      B Team
                    </td>
                    <td>4</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>7</td>
                  </tr>

                  <tr>
                      <td>3.</td>
                      <td>
                        <span class="point-table-logo">
                          <!-- <img src="images/teams/limra-sm.png"> --></span>
                          Thonikaadav
                        </td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3</td>
                        <td>7</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>
                          <span class="point-table-logo">
                            <!-- <img src="images/teams/limra-sm.png"> --></span>
                           Limra FC
                   </td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>-4</td>
<td>4</td>
                        </tr>
            
                          <tr>
                              <td>5.</td>
                              <td>
                                <span class="point-table-logo">
                                  <!-- <img src="images/teams/limra-sm.png"> --></span>
                                  Team OXY                       </td>
                                <td>4</td>
                                <td>0</td>
                                <td>3</td>
                                <td>1</td>
                                <td>-2</td>
                                <td>3</td>
                              </tr>
                          
                                  <tr>
                                    <td>6.</td>
                                    <td>
                                      <span class="point-table-logo">
                                        <!-- <img src="images/teams/limra-sm.png"> --></span>
                                        Town Team                        </td>
                                      <td>4</td>
                                      <td>1</td>
                                      <td>0</td>
                                      <td>3</td>
                                      <td>-2</td>
                                      <td>3</td>
                                    </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>