<div class="HrScroller">

        <div class="UpcomingMatchesCarousel">
          
  
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Q1</h3>
                <h3> Q2</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                <p>9 JAN 2020 , <span>4:30 PM</span></p> 
              </div>
            </div>
          </div>
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Q4</h3>
                <h3> Q3</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                   <p>09 JAN 2020 , <span>5:00 PM</span></p> 
              </div>
            </div>
          </div>
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Q3</h3>
                <h3> Q4</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                 <p>16 JAN 2020 , <span>4:30 PM</span></p> 
              </div>
            </div>
          </div>
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Q2</h3>
                <h3> Q1</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                 <p>16 JAN 2020 , <span>5:00 PM</span></p> 
              </div>
            </div>
          </div>
      
        <div class="MatchBox MoreMathes" [routerLink]="[ '/match' ]">
          <div class="ButtonFlex">
            <div class="ButtonText">View More</div>
      
            <div class="Icon"><img src="assets/icons/next.svg"></div>
          </div>
        </div> 
  
          </div>
      </div>