<div class="HrScroller">

        <div class="UpcomingMatchesCarousel">
          
    
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Team OXY</h3>
                <h3> B Team</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                <p> DEC 15 Sunday<span>4:20 PM </span></p>
              </div>
            </div>
          </div>
          
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Limra</h3>
                <h3> Acrophobia</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                <p>DEC 15 Sunday<span>5:00 PM </span></p>
              </div>
            </div>
          </div>
        
          
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Thonikadav</h3>
                <h3> Town Team</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                <p> DEC 15 Sunday<span>5:30 PM </span></p>
              </div>
            </div>
          </div>
    
    
    
    
    
          <div class="MatchBox MoreMathes" [routerLink]="[ '/match' ]">
            <div class="ButtonFlex">
              <div class="ButtonText">View More</div>
        
              <div class="Icon"><img src="assets/icons/next.svg"></div>
            </div>
          </div> 
    
        </div>
      </div>