<div class="UpcomingWeek">
    <div class="MatchWeekTitle">
        <h3>Matchweek 10</h3>
        <span class="datefixture">JAN 26 2020, SUNDAY </span>
    </div>
      <div class="AllMatches">
            <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Limra</h3>
                <h3> Acrophobia</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                <p><span>4:30 PM</span></p> 
              </div>
            </div>
          </div>
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Team OXY</h3>
                <h3> B Team</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                   <p><span>5:00 PM</span></p> 
              </div>
            </div>
          </div>
          <div class="MatchBox ">
            <div class="MatchContent">
              <div class="Teams">
                <h3>Thonikadav</h3>
                <h3> Town Team</h3>
                <div class="ScoreCard">
                  <span class="HomeGoal">0</span>
                  <span class="AwayGoal">0</span>
                </div>
              </div>
              <div class="DateAndTime">
                 <p><span>5:30 PM</span></p> 
              </div>
            </div>
          </div>
      </div>
      </div>